.cartscreen {
  display: flex;
  max-width: 1300px;
  margin: 2rem auto;
}

.cartscreen h2 {
  margin-bottom: 1rem;
}

.cartscreen__left {
  flex: 0.7;
  margin-right: 1rem;
  background-color: transparent;
  padding: 1rem;
}

.cartscreen__left h2 {
  color: #00ff41;
}

.cartscreen__right {
  border: 1px solid #00ff41;
  flex: 0.3;
  height: fit-content;
  margin-top: 2rem;
}

.cartscreen__right div {
  padding: 1rem;
}

.cartscreen__info p {
  padding: 8px;
  color: #00ff41;
  border: 1px solid #00ff41;
}

.cartscreen__right div button {
  padding: 10px 17px;
  width: 100%;
  background-color: #00ff41;
  color: #0d0208;
  border: #0d0208;
  cursor: pointer;
  font-family: VCR OSD Mono;
  font-size: 1rem;
}

.cartscreen__right div button:hover {
  background-color: #ff00be;
  color: #0d0208;
  border: #0d0208;
}

@media (max-width: 1320px) {
  .cartscreen {
    max-width: 900px;
    flex-direction: column;
  }

  .cartscreen__left {
    margin: 0;
  }

  .cartscreen__right {
    margin: 1rem;
  }
}
